[Unit]
Description=Broadcast Box
[Service]
Type=Simple
RestartSec=5
User=ubuntu
ExecStart=/bin/bash -c ./broadcast-box
WorkingDirectory=/home/ubuntu/broadcast-box
Environment="DISABLE_FRONTEND=1"
[Install]
WantedBy=multi-user.target
